.container{
  display: flex;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
  width: 100vw;
  
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #56CC9D;
    color: white;
    width: 30rem;
    height: 6rem;
    padding: 20px;
    border-radius: 10px;
  }


  a{
    margin: 5px 0;
    text-decoration: none;
    color: white;
    font-weight: 500;

    &:hover{
      font-size: 18px;
    }
  }
}